openapi: 3.0.3
info:
  title: MediaWiki Action articles Talk pages API
  description: 'The MediaWiki Action API is the original programmatic interface to MediaWiki, exposed under /w/api.php on every MediaWiki installation. All operations dispatch via the ?action= query parameter. The API supports JSON, XML, and PHP serialization; JSON is the recommended format.


    Wikimedia projects strongly recommend serial (not parallel) calls, the use of maxlag for non-interactive jobs, and a contactable User-Agent header. The Action API remains the primary write interface (edit, upload, login, patrol) even where the Core REST API is also available.'
  version: '1.45'
  x-generated-from: documentation
  x-source-url: https://www.mediawiki.org/wiki/API:Main_page
  x-last-validated: '2026-05-29'
  contact:
    name: Wikimedia Foundation
    url: https://www.mediawiki.org/wiki/API:Etiquette
  license:
    name: CC BY-SA 4.0
    url: https://creativecommons.org/licenses/by-sa/4.0/
servers:
- url: https://en.wikipedia.org/w
  description: English Wikipedia
- url: https://{lang}.wikipedia.org/w
  description: Per-language Wikipedia
  variables:
    lang:
      default: en
      description: Language code
- url: https://commons.wikimedia.org/w
  description: Wikimedia Commons
- url: https://www.wikidata.org/w
  description: Wikidata
- url: https://www.mediawiki.org/w
  description: MediaWiki.org
tags:
- name: Talk pages
paths:
  /page/talk/{title}:
    get:
      tags:
      - Talk pages
      summary: Wikimedia REST Get Structured Talk Page Contents
      description: 'Gets structured talk page contents for the provided title.


        Stability: [experimental](https://www.mediawiki.org/wiki/Wikimedia_Product/Wikimedia_Product_Infrastructure_team/API_endpoint_stability_policy#Experimental)

        '
      parameters:
      - name: title
        in: path
        description: 'Page title. Use underscores instead of spaces. Use percent-encoding. Example: `Main_Page`.'
        required: true
        schema:
          type: string
      - name: redirect
        in: query
        description: 'Requests for [redirect pages](https://www.mediawiki.org/wiki/Help:Redirects) return HTTP 302 with a redirect target in `Location` header and content in the body.

          To get a 200 response instead, supply `false` to the `redirect` parameter.

          '
        schema:
          type: boolean
      responses:
        '200':
          description: structured talk page JSON.
          headers:
            ETag:
              description: 'Syntax: "{revision}/{tid}". Example: "701384379/154d7bca-c264-11e5-8c2f-1b51b33b59fc"

                '
              schema:
                type: string
          content:
            application/json; charset=utf-8; profile="https://www.mediawiki.org/wiki/Specs/Talk/0.1.0":
              schema:
                type: string
        '301':
          description: 'A permanent redirect is returned if the supplied article title was not in the normalized form.

            To avoid this kind of redirect, you can use the [mediawiki-title](https://github.com/wikimedia/mediawiki-title) library to perform

            title normalization client-side.


            Beware that redirected pre-flighted cross-origin requests (such as those sending custom request headers like `Api-User-Agent`)

            will fail in most current browsers [due to a spec bug](https://github.com/whatwg/fetch/issues/204).

            '
        '302':
          description: 'The page is a [redirect page](https://www.mediawiki.org/wiki/Help:Redirects).

            The `location` header points to the redirect target.

            If you would like to avoid automatically following redirect pages, set the `redirect=false` query parameter.


            Beware that redirected pre-flighted cross-origin requests (such as those sending custom request headers like `Api-User-Agent`)

            will fail in most current browsers [due to a spec bug](https://github.com/whatwg/fetch/issues/204).

            '
        '404':
          description: Unknown page title
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/problem'
        default:
          description: Error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/problem'
      x-monitor: true
      x-amples:
      - title: Get structured talk page for enwiki Salt article
        request:
          params:
            domain: en.wikipedia.org
            title: Salt
        response:
          status: 200
          headers:
            content-type: /application\/json; charset=utf-8; profile=".+Talk.+"/
            etag: /.+/
          body:
            topics:
            - id: /.+/
              replies:
              - sha: /.+/
                depth: /.+/
                html: /.*/
              depth: /.+/
              html: /.*/
              shas:
                html: /.+/
                indicator: /.+/
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /page/talk/{title}/{revision}:
    get:
      tags:
      - Talk pages
      summary: Wikimedia REST Get Structured Talk Page Contents
      description: 'Gets structured talk page contents for the provided title.


        Stability: [experimental](https://www.mediawiki.org/wiki/Wikimedia_Product/Wikimedia_Product_Infrastructure_team/API_endpoint_stability_policy#Experimental)

        '
      parameters:
      - name: title
        in: path
        description: 'Page title. Use underscores instead of spaces. Use percent-encoding. Example: `Main_Page`.'
        required: true
        schema:
          type: string
      - name: revision
        in: path
        description: 'Optional page revision. Note that older revisions are not stored, so request latency with the revision would be higher.

          '
        required: true
        schema:
          type: integer
      - name: redirect
        in: query
        description: 'Requests for [redirect pages](https://www.mediawiki.org/wiki/Help:Redirects) return HTTP 302 with a redirect target in `Location` header and content in the body.

          To get a 200 response instead, supply `false` to the `redirect` parameter.

          '
        schema:
          type: boolean
      responses:
        '200':
          description: structured talk page JSON.
          headers:
            ETag:
              description: 'Syntax: "{revision}/{tid}". Example: "701384379/154d7bca-c264-11e5-8c2f-1b51b33b59fc"

                '
              schema:
                type: string
          content:
            application/json; charset=utf-8; profile="https://www.mediawiki.org/wiki/Specs/Talk/0.1.0":
              schema:
                type: string
        '301':
          description: 'A permanent redirect is returned if the supplied article title was not in the normalized form.

            To avoid this kind of redirect, you can use the [mediawiki-title](https://github.com/wikimedia/mediawiki-title) library to perform

            title normalization client-side.


            Beware that redirected pre-flighted cross-origin requests (such as those sending custom request headers like `Api-User-Agent`)

            will fail in most current browsers [due to a spec bug](https://github.com/whatwg/fetch/issues/204).

            '
        '302':
          description: 'The page is a [redirect page](https://www.mediawiki.org/wiki/Help:Redirects).

            The `location` header points to the redirect target.

            If you would like to avoid automatically following redirect pages, set the `redirect=false` query parameter.


            Beware that redirected pre-flighted cross-origin requests (such as those sending custom request headers like `Api-User-Agent`)

            will fail in most current browsers [due to a spec bug](https://github.com/whatwg/fetch/issues/204).

            '
        '404':
          description: Unknown page title
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/problem'
        default:
          description: Error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/problem'
      x-monitor: false
      x-amples:
      - title: Get structured talk page for enwiki Salt article
        request:
          params:
            domain: en.wikipedia.org
            title: Salt
        response:
          status: 200
          headers:
            content-type: /application\/json; charset=utf-8; profile=".+Talk.+"/
            etag: /.+/
          body:
            topics:
            - id: /.+/
              replies:
              - sha: /.+/
                depth: /.+/
                html: /.*/
              depth: /.+/
              html: /.*/
              shas:
                html: /.+/
                indicator: /.+/
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    problem:
      required:
      - type
      type: object
      properties:
        type:
          type: string
        title:
          type: string
        detail:
          type: string
        instance:
          type: string
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: OAuth 2.0 bearer token from meta.wikimedia.org
    CookieAuth:
      type: apiKey
      in: cookie
      name: '{wiki}wikiUserID'
      description: Session cookie obtained via action=login or action=clientlogin
