openapi: 3.2.0
info:
  version: 1.0.0
  title: Wikimedia REST Offline API
  description: This API provides cacheable and straightforward access to Wikimedia content and data, in machine-readable formats.
  termsOfService: https://wikimediafoundation.org/wiki/Terms_of_Use
  contact:
    name: the Wikimedia Services team
    url: http://mediawiki.org/wiki/Wikimedia_REST_API
  license:
    name: Apache2
    url: http://www.apache.org/licenses/LICENSE-2.0
  x-generated-from: spec-endpoint
  x-source-url: https://en.wikipedia.org/api/rest_v1/?spec
servers:
- url: https://en.wikipedia.org/api/rest_v1
  description: English Wikipedia REST v1 endpoint
- url: https://{lang}.wikipedia.org/api/rest_v1
  description: Per-language Wikipedia REST v1 endpoint
  variables:
    lang:
      default: en
      description: Language code (e.g. en, de, fr, es, ja)
tags:
- name: Offline
paths:
  /page/mobile-html-offline-resources/{title}:
    get:
      tags:
      - Offline
      summary: Wikimedia REST Get Styles and Scripts for Offline Consumption of…
      description: 'Provides links to scripts and styles needed for viewing mobile-html-formatted pages offline.


        Stability: experimental'
      parameters:
      - name: title
        in: path
        description: 'Page title. Use underscores instead of spaces. Use percent-encoding. Example: `Main_Page`.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: links to scripts and styles to accompany the mobile-html of the page for offline consumption
          content:
            application/json; charset=utf-8; profile="https://www.mediawiki.org/wiki/Specs/Mobile-HTML-Offline-Resources/1.2.1":
              schema:
                type: string
        default:
          description: Error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/problem'
      x-monitor: true
      x-amples:
      - title: Get offline resource links to accompany page content HTML for test page
        request:
          params:
            title: User:BSitzmann_(WMF)/MCS/Test/Frankenstein
        response:
          status: 200
          headers:
            content-type: /^application\/json.+/
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      operationId: getPageMobileHtmlOfflineResourcesByTitle
      x-operation-id-source: derived
  /page/mobile-html-offline-resources/{title}/{revision}:
    get:
      tags:
      - Offline
      summary: Wikimedia REST Get Styles and Scripts for Offline Consumption of…
      description: 'Provides links to scripts and styles needed for viewing mobile-html-formatted pages offline.


        Stability: experimental'
      parameters:
      - name: title
        in: path
        description: 'Page title. Use underscores instead of spaces. Use percent-encoding. Example: `Main_Page`.'
        required: true
        schema:
          type: string
      - name: revision
        in: path
        description: 'Optional page revision. Note that older revisions are not stored, so request latency with the revision would be higher.

          '
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: links to scripts and styles to accompany the mobile-html of the page for offline consumption
          content:
            application/json; charset=utf-8; profile="https://www.mediawiki.org/wiki/Specs/Mobile-HTML-Offline-Resources/1.2.1":
              schema:
                type: string
        default:
          description: Error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/problem'
      x-monitor: false
      x-amples:
      - title: Get offline resource links to accompany page content HTML for test page
        request:
          params:
            title: User:BSitzmann_(WMF)/MCS/Test/Frankenstein
        response:
          status: 200
          headers:
            content-type: /^application\/json.+/
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      operationId: getPageMobileHtmlOfflineResourcesByTitleByRevision
      x-operation-id-source: derived
components:
  schemas:
    problem:
      required:
      - type
      type: object
      properties:
        type:
          type: string
        title:
          type: string
        detail:
          type: string
        instance:
          type: string
x-host-basePath: /api/rest_v1
x-default-params: {}
