openapi: 3.2.0
info:
  version: 1.0.0
  title: Wikimedia REST Offline API
  description: "This API provides cacheable and straightforward access to Wikimedia content and data, in machine-readable formats.\n### Global Rules\n- Limit your clients to no more than 200 requests/s to this API.\n  Each API endpoint's documentation may detail more specific usage limits.\n- Set a unique `User-Agent` or `Api-User-Agent` header that\n  allows us to contact you quickly. Email addresses or URLs\n  of contact pages work well.\n\nBy using this API, you agree to Wikimedia's [Terms of Use](https://wikimediafoundation.org/wiki/Terms_of_Use) and [Privacy Policy](https://wikimediafoundation.org/wiki/Privacy_policy). Unless otherwise specified in the endpoint documentation below, content accessed via this API is licensed under the [CC-BY-SA 3.0](https://creativecommons.org/licenses/by-sa/3.0/) and [GFDL](https://www.gnu.org/copyleft/fdl.html) licenses, and you irrevocably agree to release modifications or additions made through this API under these licenses. Check the [Wikimedia REST API documentation](https://www.mediawiki.org/wiki/Wikimedia_REST_API) for background and details.\n### Endpoint documentation\nPlease consult each endpoint's documentation for details on:\n- Licensing information for the specific type of content\n  and data served via the endpoint.\n- Stability markers to inform you about development status and\n  change policy, according to\n  [our API version policy](https://www.mediawiki.org/wiki/API_versioning).\n- Endpoint specific usage limits.\n"
  termsOfService: https://wikimediafoundation.org/wiki/Terms_of_Use
  contact:
    name: the Wikimedia Services team
    url: http://mediawiki.org/wiki/Wikimedia_REST_API
  license:
    name: Apache2
    url: http://www.apache.org/licenses/LICENSE-2.0
  x-generated-from: spec-endpoint
  x-source-url: https://en.wikipedia.org/api/rest_v1/?spec
servers:
- url: https://en.wikipedia.org/api/rest_v1
  description: English Wikipedia REST v1 endpoint
- url: https://{lang}.wikipedia.org/api/rest_v1
  description: Per-language Wikipedia REST v1 endpoint
  variables:
    lang:
      default: en
      description: Language code (e.g. en, de, fr, es, ja)
tags:
- name: offline
paths:
  /page/mobile-html-offline-resources/{title}:
    get:
      tags:
      - offline
      summary: Wikimedia REST Get Styles and Scripts for Offline Consumption of Mobile-html-formatted Pages
      description: 'Provides links to scripts and styles needed for viewing mobile-html-formatted pages offline.


        Stability: [experimental](https://www.mediawiki.org/wiki/API_versioning#Experimental)

        '
      parameters:
      - name: title
        in: path
        description: 'Page title. Use underscores instead of spaces. Use percent-encoding. Example: `Main_Page`.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: links to scripts and styles to accompany the mobile-html of the page for offline consumption
          content:
            application/json; charset=utf-8; profile="https://www.mediawiki.org/wiki/Specs/Mobile-HTML-Offline-Resources/1.2.1":
              schema:
                type: string
        default:
          description: Error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/problem'
      x-monitor: true
      x-amples:
      - title: Get offline resource links to accompany page content HTML for test page
        request:
          params:
            title: User:BSitzmann_(WMF)/MCS/Test/Frankenstein
        response:
          status: 200
          headers:
            content-type: /^application\/json.+/
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /page/mobile-html-offline-resources/{title}/{revision}:
    get:
      tags:
      - offline
      summary: Wikimedia REST Get Styles and Scripts for Offline Consumption of Mobile-html-formatted Pages
      description: 'Provides links to scripts and styles needed for viewing mobile-html-formatted pages offline.


        Stability: [experimental](https://www.mediawiki.org/wiki/API_versioning#Experimental)

        '
      parameters:
      - name: title
        in: path
        description: 'Page title. Use underscores instead of spaces. Use percent-encoding. Example: `Main_Page`.'
        required: true
        schema:
          type: string
      - name: revision
        in: path
        description: 'Optional page revision. Note that older revisions are not stored, so request latency with the revision would be higher.

          '
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: links to scripts and styles to accompany the mobile-html of the page for offline consumption
          content:
            application/json; charset=utf-8; profile="https://www.mediawiki.org/wiki/Specs/Mobile-HTML-Offline-Resources/1.2.1":
              schema:
                type: string
        default:
          description: Error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/problem'
      x-monitor: false
      x-amples:
      - title: Get offline resource links to accompany page content HTML for test page
        request:
          params:
            title: User:BSitzmann_(WMF)/MCS/Test/Frankenstein
        response:
          status: 200
          headers:
            content-type: /^application\/json.+/
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    problem:
      required:
      - type
      type: object
      properties:
        type:
          type: string
        title:
          type: string
        detail:
          type: string
        instance:
          type: string
x-host-basePath: /api/rest_v1
x-default-params: {}
