openapi: 3.2.0
info:
  version: 1.0.0
  title: Wikimedia REST Talk pages API
  description: "This API provides cacheable and straightforward access to Wikimedia content and data, in machine-readable formats.\n### Global Rules\n- Limit your clients to no more than 200 requests/s to this API.\n  Each API endpoint's documentation may detail more specific usage limits.\n- Set a unique `User-Agent` or `Api-User-Agent` header that\n  allows us to contact you quickly. Email addresses or URLs\n  of contact pages work well.\n\nBy using this API, you agree to Wikimedia's [Terms of Use](https://wikimediafoundation.org/wiki/Terms_of_Use) and [Privacy Policy](https://wikimediafoundation.org/wiki/Privacy_policy). Unless otherwise specified in the endpoint documentation below, content accessed via this API is licensed under the [CC-BY-SA 3.0](https://creativecommons.org/licenses/by-sa/3.0/) and [GFDL](https://www.gnu.org/copyleft/fdl.html) licenses, and you irrevocably agree to release modifications or additions made through this API under these licenses. Check the [Wikimedia REST API documentation](https://www.mediawiki.org/wiki/Wikimedia_REST_API) for background and details.\n### Endpoint documentation\nPlease consult each endpoint's documentation for details on:\n- Licensing information for the specific type of content\n  and data served via the endpoint.\n- Stability markers to inform you about development status and\n  change policy, according to\n  [our API version policy](https://www.mediawiki.org/wiki/API_versioning).\n- Endpoint specific usage limits.\n"
  termsOfService: https://wikimediafoundation.org/wiki/Terms_of_Use
  contact:
    name: the Wikimedia Services team
    url: http://mediawiki.org/wiki/Wikimedia_REST_API
  license:
    name: Apache2
    url: http://www.apache.org/licenses/LICENSE-2.0
  x-generated-from: spec-endpoint
  x-source-url: https://en.wikipedia.org/api/rest_v1/?spec
servers:
- url: https://en.wikipedia.org/api/rest_v1
  description: English Wikipedia REST v1 endpoint
- url: https://{lang}.wikipedia.org/api/rest_v1
  description: Per-language Wikipedia REST v1 endpoint
  variables:
    lang:
      default: en
      description: Language code (e.g. en, de, fr, es, ja)
tags:
- name: Talk pages
paths:
  /page/talk/{title}:
    get:
      tags:
      - Talk pages
      summary: Wikimedia REST Get Structured Talk Page Contents
      description: 'Gets structured talk page contents for the provided title.


        Stability: [experimental](https://www.mediawiki.org/wiki/Wikimedia_Product/Wikimedia_Product_Infrastructure_team/API_endpoint_stability_policy#Experimental)

        '
      parameters:
      - name: title
        in: path
        description: 'Page title. Use underscores instead of spaces. Use percent-encoding. Example: `Main_Page`.'
        required: true
        schema:
          type: string
      - name: redirect
        in: query
        description: 'Requests for [redirect pages](https://www.mediawiki.org/wiki/Help:Redirects) return HTTP 302 with a redirect target in `Location` header and content in the body.

          To get a 200 response instead, supply `false` to the `redirect` parameter.

          '
        schema:
          type: boolean
      responses:
        '200':
          description: structured talk page JSON.
          headers:
            ETag:
              description: 'Syntax: "{revision}/{tid}". Example: "701384379/154d7bca-c264-11e5-8c2f-1b51b33b59fc"

                '
              schema:
                type: string
          content:
            application/json; charset=utf-8; profile="https://www.mediawiki.org/wiki/Specs/Talk/0.1.0":
              schema:
                type: string
        '301':
          description: 'A permanent redirect is returned if the supplied article title was not in the normalized form.

            To avoid this kind of redirect, you can use the [mediawiki-title](https://github.com/wikimedia/mediawiki-title) library to perform

            title normalization client-side.


            Beware that redirected pre-flighted cross-origin requests (such as those sending custom request headers like `Api-User-Agent`)

            will fail in most current browsers [due to a spec bug](https://github.com/whatwg/fetch/issues/204).

            '
        '302':
          description: 'The page is a [redirect page](https://www.mediawiki.org/wiki/Help:Redirects).

            The `location` header points to the redirect target.

            If you would like to avoid automatically following redirect pages, set the `redirect=false` query parameter.


            Beware that redirected pre-flighted cross-origin requests (such as those sending custom request headers like `Api-User-Agent`)

            will fail in most current browsers [due to a spec bug](https://github.com/whatwg/fetch/issues/204).

            '
        '404':
          description: Unknown page title
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/problem'
        default:
          description: Error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/problem'
      x-monitor: true
      x-amples:
      - title: Get structured talk page for enwiki Salt article
        request:
          params:
            domain: en.wikipedia.org
            title: Salt
        response:
          status: 200
          headers:
            content-type: /application\/json; charset=utf-8; profile=".+Talk.+"/
            etag: /.+/
          body:
            topics:
            - id: /.+/
              replies:
              - sha: /.+/
                depth: /.+/
                html: /.*/
              depth: /.+/
              html: /.*/
              shas:
                html: /.+/
                indicator: /.+/
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /page/talk/{title}/{revision}:
    get:
      tags:
      - Talk pages
      summary: Wikimedia REST Get Structured Talk Page Contents
      description: 'Gets structured talk page contents for the provided title.


        Stability: [experimental](https://www.mediawiki.org/wiki/Wikimedia_Product/Wikimedia_Product_Infrastructure_team/API_endpoint_stability_policy#Experimental)

        '
      parameters:
      - name: title
        in: path
        description: 'Page title. Use underscores instead of spaces. Use percent-encoding. Example: `Main_Page`.'
        required: true
        schema:
          type: string
      - name: revision
        in: path
        description: 'Optional page revision. Note that older revisions are not stored, so request latency with the revision would be higher.

          '
        required: true
        schema:
          type: integer
      - name: redirect
        in: query
        description: 'Requests for [redirect pages](https://www.mediawiki.org/wiki/Help:Redirects) return HTTP 302 with a redirect target in `Location` header and content in the body.

          To get a 200 response instead, supply `false` to the `redirect` parameter.

          '
        schema:
          type: boolean
      responses:
        '200':
          description: structured talk page JSON.
          headers:
            ETag:
              description: 'Syntax: "{revision}/{tid}". Example: "701384379/154d7bca-c264-11e5-8c2f-1b51b33b59fc"

                '
              schema:
                type: string
          content:
            application/json; charset=utf-8; profile="https://www.mediawiki.org/wiki/Specs/Talk/0.1.0":
              schema:
                type: string
        '301':
          description: 'A permanent redirect is returned if the supplied article title was not in the normalized form.

            To avoid this kind of redirect, you can use the [mediawiki-title](https://github.com/wikimedia/mediawiki-title) library to perform

            title normalization client-side.


            Beware that redirected pre-flighted cross-origin requests (such as those sending custom request headers like `Api-User-Agent`)

            will fail in most current browsers [due to a spec bug](https://github.com/whatwg/fetch/issues/204).

            '
        '302':
          description: 'The page is a [redirect page](https://www.mediawiki.org/wiki/Help:Redirects).

            The `location` header points to the redirect target.

            If you would like to avoid automatically following redirect pages, set the `redirect=false` query parameter.


            Beware that redirected pre-flighted cross-origin requests (such as those sending custom request headers like `Api-User-Agent`)

            will fail in most current browsers [due to a spec bug](https://github.com/whatwg/fetch/issues/204).

            '
        '404':
          description: Unknown page title
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/problem'
        default:
          description: Error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/problem'
      x-monitor: false
      x-amples:
      - title: Get structured talk page for enwiki Salt article
        request:
          params:
            domain: en.wikipedia.org
            title: Salt
        response:
          status: 200
          headers:
            content-type: /application\/json; charset=utf-8; profile=".+Talk.+"/
            etag: /.+/
          body:
            topics:
            - id: /.+/
              replies:
              - sha: /.+/
                depth: /.+/
                html: /.*/
              depth: /.+/
              html: /.*/
              shas:
                html: /.+/
                indicator: /.+/
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    problem:
      required:
      - type
      type: object
      properties:
        type:
          type: string
        title:
          type: string
        detail:
          type: string
        instance:
          type: string
x-host-basePath: /api/rest_v1
x-default-params: {}
