openapi: 3.0.3
info:
  title: MediaWiki Action articles Recommendation API
  description: 'The MediaWiki Action API is the original programmatic interface to MediaWiki, exposed under /w/api.php on every MediaWiki installation. All operations dispatch via the ?action= query parameter. The API supports JSON, XML, and PHP serialization; JSON is the recommended format.


    Wikimedia projects strongly recommend serial (not parallel) calls, the use of maxlag for non-interactive jobs, and a contactable User-Agent header. The Action API remains the primary write interface (edit, upload, login, patrol) even where the Core REST API is also available.'
  version: '1.45'
  x-generated-from: documentation
  x-source-url: https://www.mediawiki.org/wiki/API:Main_page
  x-last-validated: '2026-05-29'
  contact:
    name: Wikimedia Foundation
    url: https://www.mediawiki.org/wiki/API:Etiquette
  license:
    name: CC BY-SA 4.0
    url: https://creativecommons.org/licenses/by-sa/4.0/
servers:
- url: https://en.wikipedia.org/w
  description: English Wikipedia
- url: https://{lang}.wikipedia.org/w
  description: Per-language Wikipedia
  variables:
    lang:
      default: en
      description: Language code
- url: https://commons.wikimedia.org/w
  description: Wikimedia Commons
- url: https://www.wikidata.org/w
  description: Wikidata
- url: https://www.mediawiki.org/w
  description: MediaWiki.org
tags:
- name: Recommendation
  description: contribution recommendations
paths:
  /data/recommendation/article/creation/translation/{from_lang}:
    get:
      tags:
      - Recommendation
      summary: Wikimedia REST Recommend Articles for Translation.
      description: 'Recommends articles to be translated from the source

        to the domain language.


        See more at [Recommendation API documentation](https://meta.wikimedia.org/wiki/Recommendation_API)


        Stability: [unstable](https://www.mediawiki.org/wiki/API_versioning#Unstable)

        '
      parameters:
      - name: from_lang
        in: path
        description: The source language code
        required: true
        schema:
          type: string
      - name: count
        in: query
        description: The max number of articles to return
        schema:
          type: integer
          default: 24
      responses:
        '200':
          description: the list of articles recommended for translation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/recommendation_result'
        default:
          description: Error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/problem'
      x-monitor: false
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /data/recommendation/article/creation/translation/{from_lang}/{seed_article}:
    get:
      tags:
      - Recommendation
      summary: Wikimedia REST Recommend Articles for Translation.
      description: 'Recommends articles to be translated from the source

        to the domain language.


        See more at [Recommendation API documentation](https://meta.wikimedia.org/wiki/Recommendation_API)


        Stability: [unstable](https://www.mediawiki.org/wiki/API_versioning#Unstable)

        '
      parameters:
      - name: from_lang
        in: path
        description: The source language code
        required: true
        schema:
          type: string
      - name: seed_article
        in: path
        description: The article to use as a search seed
        required: true
        schema:
          type: string
      - name: count
        in: query
        description: The max number of articles to return
        schema:
          type: integer
          default: 24
      responses:
        '200':
          description: the list of articles recommended for translation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/recommendation_result'
        default:
          description: Error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/problem'
      x-monitor: false
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /data/recommendation/article/creation/morelike/{seed_article}:
    get:
      tags:
      - Recommendation
      summary: Wikimedia REST Recommend Missing Articles
      description: 'Recommends articles similar to the seed article but are missing

        from the domain language Wikipedia.


        Stability: [unstable](https://www.mediawiki.org/wiki/API_versioning#Unstable)

        '
      parameters:
      - name: seed_article
        in: path
        description: The article title used to search similar but missing articles
        required: true
        schema:
          type: string
      responses:
        '200':
          description: the prioritized list of Wikidata IDs recommended for creation as Wikipedia articles
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/morelike_result'
        default:
          description: Error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/problem'
      x-monitor: false
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    morelike_result:
      type: array
      description: the prioritized list of Wikidata IDs recommended for creation as Wikipedia articles
      items:
        type: object
        properties:
          wikidata_id:
            type: string
            description: Wikidata ID for the item
          score:
            type: number
            description: Score of the recommendation. The higher the score, the more important the recommendation is.
          source_language:
            type: string
            description: Source of the recommendation -- which wiki is recommending the current article.
    problem:
      required:
      - type
      type: object
      properties:
        type:
          type: string
        title:
          type: string
        detail:
          type: string
        instance:
          type: string
    recommendation_result:
      type: object
      properties:
        count:
          type: integer
          description: the number of recommendations returned
        items:
          type: array
          description: the list of articles recommended for translation
          items:
            type: object
            properties:
              wikidata_id:
                type: string
                description: wikidata id for the item
              title:
                type: string
                description: title of the article in the source language
              sitelink_count:
                type: integer
                description: count of sites the wikidata item is linked to
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: OAuth 2.0 bearer token from meta.wikimedia.org
    CookieAuth:
      type: apiKey
      in: cookie
      name: '{wiki}wikiUserID'
      description: Session cookie obtained via action=login or action=clientlogin
